@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        @* var userRole = await UserManager.GetRolesAsync(currentUser); *@
        @* string userRoleName = userRole.FirstOrDefault() ?? "No Role"; *@
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
              HElp  الدعم الفني
            </a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
              Setting  الإعدادات
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="IndividualEducationPlan" asp-controller="Student" asp-action="Index">
                IEP
            </a>
        </li>
       
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
             Report   طباعة التقارير
            </a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
              Statictic  إحصائية الطلاب
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="SpecialEducationEncyclopedia" asp-controller="Document" asp-action="Index">
                DOC المستندات والوثائق
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="SpecialEducationEncyclopedia" asp-controller="Student" asp-action="Create">
                إضافة طالب جديد ADD
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="SpecialEducationEncyclopedia" asp-controller="Student" asp-action="Search">
                البحث عن طالب Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="SpecialEducationEncyclopedia" asp-controller="Student" asp-action="Index">
                بيانات الطلاب
            </a>
        </li>
        @*  <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li> *@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
