.body-content {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: 100%;
}

.text-right {
    text-align: right;
}

.font-weight-bold {
    font-weight: bold;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.35s ease-in-out;
    background: var(--bs-dark-bg-light);
}

main {
    background: var(--bs-light);
    min-height: 80%;
}

.page > .container > .content .content {
    min-height: 500px;
}


.content-heading {
    background: var(--content-heading-color);
    color: #ffffff;
    font-size: 18px;
    padding: 8px 15px;
    border: none;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.content-doc-heading {
    background: var(--content-doc-heading-color);
    color: #ffffff;
}

.content-body {
    padding: 5px 15px 15px 15px;
    background: #dddddd;
}

.content-sub-title {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}


.col-form-label {
    padding: 0 5px;
    font-weight: 700;
    text-align: right;
    color: #222;
}

    .col-form-label.required:after {
        content: "*";
        color: #ff0000;
        font-size: 25px;
    }

.form-group {
    margin-bottom: 2px;
}

.form-control {
    font-size: 14px;
    color: #222222;
    padding: 1px 12px;
    height: 25px;
    line-height: 25px;
    background: #ddd;
    border: 1px solid #b7b8b9;
    font-weight: 500;
}

.left-gutter-off {
    padding-left: 8px;
    margin-left: -5px;
}

.btn {
    font-size: .8125rem;
    font-weight: 400;
    letter-spacing: .03em;
}

.btn-icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
}

table {
    margin: auto;
}

    table.table thead tr th {
        text-align: center;
    }

    table.table thead tr th,
    table.table tbody tr td {
        padding: 2px 5px;
        vertical-align: middle;
    }

    table thead.custom-head th,
    table tfoot.custom-head th {
        background: #b7b7b7;
        text-align: center;
    }

    table.table.table-borderless {
        border: none;
    }

    table thead th, table.dataTable thead th,
    table tbody td, table.dataTable tbody td,
    table tfoot td, table.dataTable tbody td {
        border: 1px solid #909090 !important;
        padding: 2px 5px !important;
    }

    table thead tr:nth-child(1) a {
        color: white;
        text-decoration: underline;
    }

th.number,
td.number,
input.number {
    text-align: right !important;
    padding: 1px 2px;
}


p {
    margin-bottom: 0.25rem !important;
}

.modal-dialog-css {
    max-width: 1000px;
}

.modal-delete-dialog {
    max-width: 400px;
}


input.ng-valid.ng-dirty,
textarea.ng-valid.ng-dirty,
select.ng-valid.ng-dirty {
    background: #cee !important;
    border-color: #00acac !important;
    border: 1px solid #D6E9C6;
}

form.submitted input.ng-invalid,
form.submitted textarea.ng-invalid,
form.submitted select.ng-invalid,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty,
input.duplicate.ng-valid {
    background: #ffdedd !important;
    border-color: #ff5b57 !important;
    border: 1px solid #EED3D7;
}

input[disabled],
textarea[disabled],
select[disabled],
button[disabled],
.btn:disabled {
    cursor: not-allowed;
}

input[type=checkbox],
input[type=radio] {
    width: 20px;
    height: 20px;
    /*margin-right: 5px;*/
}

label span {
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
}

    label span.required {
        --bs-text-opacity: 1;
        color: rgb(255 0 0) !important;
        font-size: 20px;
    }

input[type=checkbox].form-control:hover {
    background-color: antiquewhite;
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.input-group.input-daterange span.input-group-addon {
    font-weight: bold;
    vertical-align: middle;
    margin: 5px 3px;
}

.alert, .action-alert {
    width: 100%;
    /*text-align:left;*/
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.alert-danger {
    background-color: #d93342;
}

.alert-success {
    background-color: #28a745;
}

.alert p {
    line-height: 1.25rem;
}

.alert-dismissible .close {
    padding: 0.15rem 1.25rem;
    font-weight: 800;
}

.input-group-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

.employee-modal-body {
    padding-top: 0px;
}

.employee-modal-footer {
    background-color: #f9f9f9;
}
