@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    /* ====== colors ======*/
    --body-color: #E4E9F7;
    --sidebar-header-color: #0f6faf;
    --sidebar-color: #177bbe;
    --sidebar-hover-color: #FFF;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --sidebar-text-color: #FFFF;
    --text-color: #707070;
    --content-heading-color: #1f70a6;
    --theme-bg-color: #90cbf1;
    /* ====== Transactions ======*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    margin: 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    overflow-y: auto;
    scrollbar-width: none;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 200;
}

sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-header {
    background: var(--sidebar-header-color);
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
}

.sidebar-logo a {
    color: var(--sidebar-text-color);
    font-size: 25px;
    font-weight: 500;
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
    text-decoration: none;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-item ul {
    width: 90%;
    margin: auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--sidebar-text-color);
    position: relative;
    display: block;
    font-size: 0.92rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    a.sidebar-link:hover {
        background-color: #298ed1;
    }

    a.sidebar-link i {
        color: var(--sidebar-text-color);
    }

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

#sidebar-toggle {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
    color: var(--sidebar-color);
    transition: var(--tran-03);
}

    #sidebar-toggle:hover {
        color: #8e5bf5;
    }

/* Sidebar Toggler */
#sidebar.collapsed {
    margin-left: -260px;
}

#main-content {
    left: 260px;
    width: calc(100% - 260px);
    transition: var(--tran-05);
}

#sidebar.collapsed ~ #main-content {
    left: 0px;
    width: 100%;
}

.avatar {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}

/* Footer and Nav */
@media (max-width:767.68px) {

    .navbar,
    footer {
        width: 100vw;
    }

    main {
        width: 100vw;
    }

    .content.px-3 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .content .container-fluid {
    }

    .form-control {
        padding: 1px 4px !important;
    }

    label.col-form-label {
        text-align: left !important;
    }

    .input-group-text {
        min-width: 25px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

/* Notification */
.notification {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    border-radius: 50%;
}

.notification-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.notification-title {
    color: #8e5bf5;
    font-size: 15px;
    font-weight: 600;
}

.notification-time {
    color: grey;
    font-size: 11px;
}

.sidebar-link.active {
    background-color: #0f496e;
}

.brround {
    border-radius: 50% !important;
}

/* Cards Design */
.card .card-text {
    padding-left: 10px;
}

.card-body {
    padding: 25px;
}

.counter-icon {
    font-size: 24px;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 4rem;
}

.number-font {
    font-weight: 600;
}

.bg-primary-gradient {
    color: #fff;
    background: var(--sidebar-color);
}

.bg-danger-gradient {
    color: #fff;
    background: linear-gradient(to bottom right, #ff4861, #ff3c00) !important;
}

.bg-secondary-gradient {
    color: #fff;
    background: linear-gradient(to bottom right, #8f5bf5, #ff458f) !important;
}

.bg-success-gradient {
    color: #fff;
    background: linear-gradient(to bottom right, #62ffcb, #1c8fdb) !important;
}

.bg-orange {
    background: #fd6405;
    color: #fff !important;
}

.bg-green {
    color: #fff;
    background-color: #48ad74;
}

/* Cards Design */
.card .card-text {
    padding-left: 10px;
}

.card-body {
    padding: 25px;
}

/* Utility Classes */
.h6,
h6 {
    font-size: .875rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit !important;
    font-family: inherit !important;
    /*font-weight: 400 !important;
    line-height: 1.1 !important;*/
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.number-font {
    font-weight: 600;
}

.content ul.dropdown-menu {
    --bs-dropdown-min-width: 15rem;
    --bs-dropdown-min-height: 15rem;
    --bs-dropdown-max-height: 25rem;
    min-width: var(--bs-dropdown-min-width);
    /*min-height: var(--bs-dropdown-min-height);*/
    max-height: var(--bs-dropdown-max-height);
    overflow-y: scroll;
    font-weight: bold !important;
}

.navbar .dropdown-menu {
    background: var(--theme-bg-color) !important;
}

.dropdown-header {
    font-size: 1.0rem;
    margin: 0 !important;
    text-align: center;
}

.dropdown-sub-header {
    font-size: .8rem;
    margin: 0 !important;
    text-align: center;
}

.dropdown-item {
    padding: 0px 10px;
    border-top: 1px solid rgb(209, 209, 209) !important;
}

.dropdown-menu > li.active {
    color: var(--bs-dropdown-link-hover-color);
    /*background-color: var(--bs-dropdown-link-hover-bg); */
    background-color: antiquewhite;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    /*background-color: var(--bs-dropdown-link-hover-bg);*/
    background-color: antiquewhite;
}

.dropdown-menu > li > a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}


.custom-select {
    appearance: none; /* remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 25px; /* space for custom arrow */
}

    .custom-select::-ms-expand {
        display: none; /* hide arrow in IE */
    }

.position-relative::after {
    content: "▾"; /* custom arrow */
    font-size: 25px;
    color: #555;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* click passes through */
}

.green-box {
    background: #00b050;
    color: #fff;
    padding: 6px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.sidebar {
    border: 1px solid #ccc;
    background: #fff;
    padding: 8px;
}

    .sidebar h6 {
        font-size: 40px;
        margin-bottom: 5px;
    }

.filter-section {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
    background: #fdfdfd;
}

    .filter-section label {
        margin-left: 10px;
    }

.student-table {
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #fff;
}

    .student-table table {
        font-size: 14px;
    }

.footer-buttons button {
    min-width: 120px;
}